


   html {
   	height: 100%;
   }


   body {
    max-width: 1200px;
    padding-left: 200px;  
   	background: #fff;
   	font-family: 'Lato', sans-serif;
    font-weight: 400; 
   	color: #4B4C4D;
   	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

   }

   header {
   	margin-top: 50px;
    position: relative;
    padding-top: 50px; 
    z-index: 2;
   }


   #left {
    position: relative;
    max-width: 50%;
    z-index: 2;
    float: left;
  }

   #currently {
   	margin-bottom: 60px;

   }

   #face {
   	position: relative;
   	bottom: auto;
   	right: auto;
    float: right;
    z-index: 1; 
    overflow: hidden;

   }

   #links {
    position: relative;
    bottom: 0px;
    padding-top:100px; 
    padding-left: 40px; 
   }
  
  @media screen and (max-width: 920px) {
    #body {
      padding-left: 10px; 
    }
  }

  /*

  @media screen and (max-height: 500px) {
    #face {
      bottom: auto;
    }
   }


   @media screen and (max-width: 1340px) {
    #face {
      bottom: auto;
      overflow: hidden;
    }
   }

   @media screen and (max-width: 800px) {
    #face {
      width: auto;
    }
   }


   @media screen and (max-height: 340px) {
    #links {
      bottom: auto;
    }
   }*/

   h1 {
  	font-size: 48px;
  	font-family: 'Lato', sans-serif;
    padding-bottom: 6 0px; 
    line-height: 52px;
  	font-weight: 400;
  	color: #8E8E8E;
  	margin: 0;
    
   }

    hr {
    width: 350px; 
    margin-top: 40px; 
    color: #E2E2E2; 
   }

   h2 {
   	font-family: 'Lato', sans-serif;
    font-weight: 300; 
   	font-size: 14px;
   	line-height: 18px;
   	font-style: normal;
   	font-weight: 400;
   	color: #DBDBDB;
   	
   }

   ul {
   	list-style: none;

   }

   li {
   	font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
   	line-height: 25px;
   	margin: 0;
   }

   p {
   	font-family: 'Lato', sans-serif;
    font-weight: 300; 
   	font-size: 14px;
   	line-height: 18px;
   	font-style: normal;
   	font-weight: 400;
   	margin: 0;
   }

   a {
   	color: #111111;
   	-webkit-transition: all 0.2s ease-in-out;
   	-moz-transition: all 0.2s ease-in-out;
   	transition: all 0.2s ease-in-out;
    text-decoration: none;
   }

   p > a {
   	color: #111111;
   	text-decoration: none;
   }

   a:visited {
   	color: #111111;
   }

   p > a:visited {
   	color: #111111;
   }

   a:hover {
   	color: #59BAE5;
   }

   p > a:hover {
   	color: #59BAE5;
   }


    img {
      padding-right: 20%; 
      max-width: 900px;
      z-index: 1; 
      bottom: auto;
      bottom: fixed; 

    }



/* ===================================
   media queries and stuff...
   =================================== */

  /* @media screen and (max-width: 850px) {

  	body {
  		margin: 80px auto auto 0;
  		padding: 0 30px;
      padding-left: 70px; 
  		overflow-x: hidden;
  		-webkit-transition: all 0.2s ease-in-out;
  		-moz-transition: all 0.2s ease-in-out;
  		transition: all 0.2s ease-in-out;
  	}

    img {
      display: none; 
    }

  	header {
  		padding-bottom: 20px; 
  	}

  	#logo {
  		opacity: .4;
  		margin-bottom: 40px;
  	}

  	h1 {
  		font-size: 40px;
  		line-height: 52px;
  		}

  	#links {
  		position: static;
  		margin-top: 120px;
      padding-top: 100px; 
  		}

  	#face {
  		position: relative;
      text-align: center;
  		width: auto;
      top: auto;
      bottom: auto;
  	}


   }*/
